<div id="<%= dom_id collection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= collection.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= collection.description %>
  </p>
  
  <% if action_name == "show" %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Articles:</strong>
      <% if collection.articles.empty? %>
        <span class="block">There are no articles for this collection</span>
      <% else %>
        <% collection.articles.each do |article| %>
          <span class="block"><%= article.name %></span>
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this collection", collection, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
