<%= form_with(model: collection, class: "contents") do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation" class="form-errors">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :articles %>
    <%= form.collection_check_boxes :article_ids, Article.all, :id, :name do |b| %>
      <div class="my-1 flex items-center">
        <%= b.check_box id: "collection_#{b.object.id}", class: "form-checkbox" %>
        <%= b.label for: "collection_#{b.object.id}" %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "form-submit" %>
  </div>
<% end %>
