<div class="form-container">
  <h1 class="form-title">Editing collection</h1>

  <%= turbo_frame_tag "collection" do %>
    <%= render "form", collection: @collection %>
    <%= link_to "Cancel", @collection, data: { turbo_action: 'replace', turbo_frame: 'collection' }, class: "btn-gray" %>
  <% end %>
  
  <%= link_to "Show this collection", @collection, class: "btn-gray" %>
  <%= link_to "Back to collections", collections_path, class: "btn-gray" %>
</div>
