<div class="form-container">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="form-title">Collection details</h1>

  <%= turbo_frame_tag "collection" do %>
    <%= render @collection %>

    <%= link_to "Edit this collection", edit_collection_path(@collection), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this collection", collection_path(@collection), method: :delete, "data-turbo-frame": "_top", class: "form-delete", form: { data: { turbo_confirm: "Are you sure you want to delete this collection ?" } } %>
    </div>
    <%= link_to "Back to collections", collections_path, "data-turbo-frame": "_top", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
  
</div>
