<%= form_with(model: stock_entry, class: "contents") do |form| %>
  <% if stock_entry.errors.any? %>
    <div id="error_explanation" class="form-errors">
      <h2><%= pluralize(stock_entry.errors.count, "error") %> prohibited this stock_entry from being saved:</h2>

      <ul>
        <% stock_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :article_id, 'Article' %>
    <%= form.collection_select(:article_id, Article.all, :id, :name, { prompt: true }, { class: "form-input" }) %>
  </div>

  <div class="form-field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "form-submit" %>
  </div>
<% end %>
